@import "index";
/**
* 公共样式
* 如果没有特殊情况不能进行修改
* 因为改了这边的样式，其他页面中公共部分也会修改！
* create by ZC 2016/12/26
**/

.x-main-section{
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: $bg-content;
}

.x-main-content{
  width: 1200px;
  min-height: 800px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.x-body-header{
  border-bottom: 1px solid #ccc;
}

.x-body-header,
.x-body-content,
.x-operation-box,
.x-pagination{
  padding: 20px 30px;
}

// 分页样式
.x-pagination{
  margin-top: 20px;
}

.no-padding-top{
  padding-top: 0;
}
