/**
* 定义样式 重置 UI框架的样式 或 浏览器默认样式
* create by ZC 2016/10/16
*/

html, body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #A1A1A1 !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #A1A1A1 !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #A1A1A1 !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #A1A1A1 !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  -webkit-tap-highlight-color:transparent;
}

ol, ul, dl,li {
  margin: 0;
  padding: 0;
  list-style: none;
  //display: inline-block;
}

strong, em, i, h1, h2, h3 {
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
}

a {
    color: inherit;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input,button,select,textarea{outline:none}
textarea{resize:none;border: none}

input{
  border:0;
  outline: none;
  background-color: transparent;
}

// 设置表格没有横向滚动条
.el-table__body-wrapper {
  overflow: hidden !important;
  position: relative;
}

// 覆盖进度条样式
#nprogress .bar {
  z-index: 1031;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #20a0ff;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #20a0ff, 0 0 5px #20a0ff !important;
  opacity: 1.0;
}
