@import "src/styles/theme";
/**
 * 登录页面样式
 */

/**整体页面样式*/
.login-container {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;

  .login-form-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 400px;
    margin: auto;
    line-height: 1;
    background-color: transparent;
    font-size: 0;

    .login-title {
      margin-bottom: 50px;
      text-align: center;
      color: #fff;
      font-size: 36px;
    }
    .login-form {
      width: 500px;
      height: 330px;
      border-radius: 3px;
      background-color: #fff;

      .login-form-title {
        margin-bottom: 25px;
        padding: 20px 0;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
        color: #333;
        font-size: 20px;
      }

      .login-input-item {
        width: 300px;
        height: 40px;
        padding: 8px 11px;
        border: 1px solid #3b7ac8;
        border-radius: 4px;
        margin: 0 auto;

        .people-icon {
          display: inline-block;
          width: 23px;
          height: 23px;
          margin-right: 15px;
          //background-image: url("./../../images/login/loginUserName.png");
          background-size: 100% 100%;
          vertical-align: middle;
        }

        .lock-icon {
          display: inline-block;
          width: 17px;
          height: 23px;
          margin-right: 15px;
          //background-image: url("./../../images/login/loginPassword.png");
          background-size: 100% 100%;
          vertical-align: middle;
        }
      }
      .login-input-verify {
        width: 300px;
        margin: 0 auto;
        .login-verify {
          display: inline-block;
          width: 200px;
          height: 40px;
          padding: 8px 11px;
          border: 1px solid #3b7ac8;
          border-radius: 4px;
          #verify {
            width: 140px;
          }
          .lock-icon {
            display: inline-block;
            width: 17px;
            height: 23px;
            margin-right: 15px;
            //background-image: url("./../../images/login/loginPassword.png");
            background-size: 100% 100%;
            vertical-align: middle;
          }
        }
        .verify-img {
          display: inline-block;
          width: 100px;
          height: 40px;
          //background-color: red;
        }
      }

    }

  }

  #username, #password, #verify {
    height: 100%;
    margin: 0 auto;
    padding: 3px;
    border-left: 1px solid #3b7ac8;
    vertical-align: middle;
  }

}
.login-btn{
  display: block;
  width:300px;
  margin:0 auto;
}
.login-page-img{
  width:100%;
  height:100%;
  //background: url('./../../images/login/loginPageImg.png') no-repeat;
  background-size: cover;
  background-position: center;
}
